.detail-apply-box {
  display: flex;

  .apply-left-box {
    width: 60%;
    padding: 10px;

    .button {
      min-width: 300px;
    }
  }

  .apply-right-box {
    width: 40%;
    padding: 10px;
  }
}