.detail-basic-box {
  display: flex;

  .basic-left-box {
    width: 60%;
    padding: 10px;

    .button {
      min-width: 300px;
    }
  }

  .basic-right-box {
    width: 40%;
    padding: 10px;
  }
}