.detail-contract-box {
    padding: 0 20px;

    .contract-left-box {
        width: 50%;
        padding: 0 20px;

        .left-top-box {
            display: flex;
            align-items: center;

            .left-top-icon {
                font-size: 24px;
                color: rgb(51, 68, 84);
            }

            .left-top-title {
                font-size: 16px;
                padding: 10px 0 0 10px;
                font-weight: 900;
                color: rgb(51, 68, 84);
            }
        }

        .left-form-box {
            margin: 0;
        }
    }

    .left-button-box {
        display: flex;
        justify-content: flex-end;
    }
}