.detail-document-box {
  display: flex;

  .document-left-box {
    width: 60%;
    padding: 10px;

    .button {
      min-width: 300px;
    }

    .half-button {
      min-width: 150px;
    }
  }

  .document-right-box {
    width: 40%;
    padding: 10px;
  }
}