.electronic-contract-alert-box {
  padding: 10px;
}

.electronic-contract-detail-box {
  display: flex;

  .detail-left-box {
    padding: 10px;
    display: flex;
    width: 50%;
    flex-direction: column;

    .check-button-box{
      margin: 10px;
    }

    .electronic-contract-download-button {
      min-width: 200px;
    }

    .electronic-contract-submit-button {
      min-width: 200px;
    }

    .electronic-contract-upload-button {
      min-width: 200px;
    }
  }

  .detail-right-box {
    width: 50%;
  }
}