.payment-info-alert-box {
}

.button {
  width: 100%;
  background: #52c41a;
  border: 1px solid #52c41a;
}

.payment-info-box {
  padding: 10px;

  .payment-description-box {
    padding-bottom: 10px;
  }
}