.registion-process-box {
    display: flex;
    background: rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 15px;

    .a-box {
        width: 23%;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 15px;

        .a-top-box {
            font-size: 16px;
            padding: 15px 30px;
            background: rgb(24, 144, 255);
            color: white;
            display: flex;
            justify-content: center;
            border-radius: 15px;
        }

        .a-bottom-box {
            padding: 50px 30px;
            background: white;
            border-radius: 15px;

            .a-step {
                font-size: 14px;
                padding: 0px 0px 20px;
            }
        }
    }

    .b-box {
        width: 54%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 15px;
        padding: 20px 20px;

        .b-top-box {
            font-size: 16px;
            padding: 12px 30px;
            background: rgb(24, 144, 255);
            color: white;
            display: flex;
            justify-content: center;
            border-radius: 15px;
        }

        .b-bottom-box {
            padding: 15px 30px;
            background: white;
            border-radius: 15px;

            .b-inner-box {
                display: flex;
                padding: 0 0 10px 0;


                .b-button {
                    background: rgb(24, 144, 255);
                    color: white;
                    border-radius: 10px;
                }

                .b-passage {
                    font-size: 14px;
                    padding: 4px 12px 4px 12px;
                    width: 50%;
                }
            }
        }
    }

    .c-box {
        width: 23%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 15px;
        padding: 20px 20px;

        .c-top-box {
            font-size: 16px;
            padding: 15px 30px;
            background: rgb(24, 144, 255);
            color: white;
            display: flex;
            justify-content: center;
            border-radius: 15px;
        }

        .c-bottom-box {
            padding: 50px 20px;
            background: white;
            border-radius: 15px;
            .c-icon {
                font-size: 100px;
                display: flex;
                justify-content: center;
                padding: 0 0 30px 0;
                color: purple;
            }

            .c-icon2 {
                padding: 0 5px 0 0;
            }

            .c-passage {
                display: flex;
                padding: 6px 0;
                justify-content: space-between;
            }
        }
    }
}