.detail-description-box {
  display: flex;

  .description-left-box {
    width: 60%;
    padding: 10px;

    .button {
      min-width: 300px;
    }

    .half-button {
      min-width: 150px;  
    }
  }

  .description-right-box {
    width: 40%;
    padding: 10px;
  }
}