.recept-report-box {
  padding: 10px;

  .recept-report-detail-box {
    .recept-report-title-box {
      font-size: 16px;
      font-weight: 600;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
    }

    .download-box {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;

      .record-download-left-box {
        width: 50%;

        .button {
        }
      }

      .record-download-right-box {
        width: 50%;

        .button {
        }
      }
    }

    .confirm-button {
      width: 100%;
      background: #52c41a;
      border: 1px solid #52c41a;
    }
  }
}