.field-test-box {
  padding: 10px;

  .test-info-alert-box {
  }

  .field-test-detail-box {
    .file-modify-title-box {
      font-size: 16px;
      font-weight: 600;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
    }

    .link-box {
      padding: 10px 0;
      display: flex;

      .link-left-box {
        width: 50%;

        .tag-box {
          margin-left: 10px;
        }
      }

      .link-right-box {
        width: 50%;

        .tag-box {
          margin-left: 10px;
        }
      }
    }

    .download-box {
      padding: 10px 0;
      display: flex;

      .record-download-left-box {
        width: 50%;

        .button {
        }
      }

      .record-download-right-box {
        width: 50%;

        .button {
        }
      }
    }
  }
}
