.payment-info-alert-box {
}

.payment-info-box {
  padding: 10px;

  .button {
    width: 100%;
    background: #52c41a;
    border: 1px solid #52c41a;
  }

  .download-button {
    width: 100%;
    margin-bottom: 10px;
  }

  .payment-description-box {
    padding-bottom: 10px;
  }
}