.apprasial-item-box {
  width: 70%;

  .responsible-person-list {
    width: 100%;
    padding: 20px;

    .responsible-person-ul {
      display: flex;
      flex-direction: column;
      list-style: none;

      li {
        display: flex;
        margin: 5px;
        align-items: center;

        span {
          width: 30%;

          &:first-child {
            color: #000;
            font-weight: 500;
            font-size: 16px;
          }
        }

        .rate {
          display: flex;
          width: 40%;
        }
      }
    }
  }
}