.detail-specimen-box {
  display: flex;

  .specimen-left-box {
    width: 60%;
    padding: 10px;

    .button {
      min-width: 300px;
    }
  }

  .specimen-right-box {
    width: 40%;
    padding: 10px;
  }
}