leftWidth = 545px;
rightWidth = 895px;

.login-box {
  background: rgb(245, 245, 245);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-inner-box {
    width: leftWidth + rightWidth;
    display: flex;

    .left-box {
      background: #fff;
      width: leftWidth;
    }

    .right-box {
      background: rgb(54, 79, 204);
      width: rightWidth;
      padding: 0 280px;
      color: #fff;
    }
  }
}
